<app-body-center>
  <app-header></app-header>
  <app-title title="Registrarse"></app-title>
  <form [formGroup]="registerFormPage2" (ngSubmit)="onSubmit()">
    <app-body-space>
      <app-input
        [control]="getFormControl('email')"
        textLabel="Correo Electrónico: "
        placeHolder="juan@example.com"
        type="email"
        id="femail"
      ></app-input>
      <app-input
        [control]="getFormControl('password')"
        textLabel="Contraseña: "
        placeHolder="***********"
        type="password"
        id="fpassword"
      ></app-input>
      <app-input
        [control]="getFormControl('confirmPassword')"
        textLabel="Confirmar Contraseña: "
        placeHolder="***********"
        type="password"
        id="fconfirmPassword"
      ></app-input>
      <app-submit-button
        type="submit"
        [deactiveLink]="true"
        textContent="Registrarse"
      ></app-submit-button>
    </app-body-space>
  </form>
</app-body-center>
