<app-body-center>
  <app-header></app-header>
  <app-title title="Registrarse"></app-title>
  <form [formGroup]="registerFormPage1" (ngSubmit)="onSubmit()">
    <app-body-space>
      <app-input
        [control]="getFormControl('username')"
        textLabel="Nombre de Usuario: "
        placeHolder="Juanito"
        id="fusername"
      ></app-input>
      <app-submit-button
        type="submit"
        link="register/2"
        textContent="Siguiente"
        [deactiveLink]="true"
      ></app-submit-button>
    </app-body-space>
  </form>
</app-body-center>
