.routeSearch{
    display: flex;
    justify-content: space-around;

    border-radius: 3.125rem;
    background: #DAD9D8;
    box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, 0.25);
    padding: .625rem;
}

.routeSearch::before{
    position: relative;
    content: "";

    width: 1.5625rem;
    height: 1.5625rem;

    background-color: var(--second-color);
    border-radius: 50%;
}

.selector{
    width: 65%;
    height: 1.5625rem;

    border: none;
    font-family: var(--text-font);
    font-size: 1.25rem;
}

.search-button{
    border: none;
    background-color: transparent;
}

.option{
    width: 100%;

    font-family: var(--text-font);
    font-size: 1rem;
}