<app-template-form-page title="Iniciar Sesión">
  <div>
    <app-form-input
      name="email"
      label="Correo Electrónico"
      placeHolder="example@gmail.com"
      (actualTextContent)="setEmailUser($event)"
    ></app-form-input>
    <app-form-input
      name="password"
      label="Contraseña"
      placeHolder="********"
      (actualTextContent)="setPasswordUser($event)"
    ></app-form-input>
    <div class="buttons">
      <app-button [path]="paths.homePage">Iniciar Sesión</app-button>
      <app-button [path]="paths.register1" [transparent]="true" subText="¿Todavía no tienes cuenta?"
        >Registrarse</app-button
      >
    </div>
  </div>
</app-template-form-page>
