<div class="sign-in-page">
    <header>
        <app-logotype></app-logotype>
        <button class="exit">X</button>
    </header>
    <div class="sign-in-data">
        <span>Iniciar Sesión</span>
        <form class="form" action="">
            <label for="">Correo: </label>
            <input type="text">
            <label for="">Contraseña: </label>
            <input type="text">
        </form>
        <div class="buttons">
            <button [appSubmitButton]="false">Iniciar Sesión</button>
            <a [appSubmitButton]="true" href="">
                ¿Todavía no tienes cuenta?
                registrarse
            </a>
        </div>
    </div>
</div>
