<app-stop-dropdown-menu
  *ngIf="displayStopMenu"
  [stops]="stops"
  (exitEvent)="displayStopMenu = $event"
></app-stop-dropdown-menu>
<div id="routesGrids">
  <div id="routesSearchMessages">
    <p id="welcomeMessage">Ingrese su destino</p>
  </div>
  <div id="routeSearch">
    <app-body-center>
      <app-stop-search-bar
        (onSubmit)="searchJourneys($event)"
      ></app-stop-search-bar>
      <p id="message">Usted ha buscado</p>
      <div id="routeDisplay">
        <div *ngFor="let journey of (journeys$ | async)?.data">
          <app-journey-card
            [stops]="journey.attributes.stops"
            [arrival]="journey.attributes.arrival"
            (dropDownMenu)="dropDownMenu($event)"
          ></app-journey-card>
        </div>
      </div>
    </app-body-center>
  </div>
</div>
