<div>
  <app-template-form-page title="Registrarse">
    <app-form-input
      name="Email"
      label="Correo Electrónico"
      placeHolder="example@gmail.com"
      (actualTextContent)="setEmailUser($event)"
    ></app-form-input>
    <app-form-input
        name="password" 
        label="Contraseña"
        (actualTextContent)="setPasswordUser($event)"></app-form-input>
    <app-form-input
        name="password" 
        label="Confirma Contraseña"
        (actualTextContent)="setConfirmedPasswordUser($event)"></app-form-input>
    <div class="buttons">
        <app-button [path]="paths.homePage">Registrarse</app-button>
    </div>
  </app-template-form-page>
</div>
