.login-page{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;

    margin: 0;

    width: 100vw;
    min-height: 100vh;
}

.login-page__slogan{
    position: relative;
    z-index: 2;

    font-family: var(--text-font);
    font-weight: 600;
    font-size: 64px;

}

.header{
    
    padding-top: 2.5rem;
    padding-left: 1.5rem ;
    background-color: var(--main-color);

    width: 100vw;
}

.header__info{
    width: 100vw;

}


.buttons{

    margin-top: 3.625rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
