<div class="login-page">
  <header class="header">
    <div class="header__info">
      <div class="img-mask">
        <img class="img-mask__img" src="" alt="" />
      </div>
      <h1 class="login-page__slogan">{{ slogan }}</h1>
    </div>
  </header>
  <section class="buttons">
    <app-submit-button
      type="button"
      link="/login"
      textContent="Iniciar Sesión"
    ></app-submit-button>
    <app-submit-button
      type="button"
      link="register"
      textContent="Registrarse"
      [transparent]="true"
    ></app-submit-button>
  </section>
</div>
