<div class="container">
    <app-body-center>
        <app-header></app-header>
        <app-title title="Datos de conductor"></app-title>
        <app-selector-type
          title="Soy Pasajero"
          name="usertype"
          description="Registrándote como pasajero podrás crear tu cuenta en simples pasos, y no te preocupes, puedes agregar la posibilidad de ser conductor ¡cuando tu quieras!"
        ></app-selector-type>
        <app-selector-type
          title="Soy Conductor"
          name="usertype"
          description="Debes pasar por una simple validación de tus datos y las de tu/s carros, todo para garantizar tu seguridad y de los demas.
          !No te preocupes! Obtendras todas las funcionalidades de pasajero y podrás cambiar de tipo cuando lo desees!"
        ></app-selector-type>
        <app-submit-button></app-submit-button>
      </app-body-center>
</div>