.container{
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100vh;

    background-color: aquamarine;
}
.logomark{
    align-self: flex-end;
    justify-self: center;
}
.logotype{
    align-self: baseline;
}