<app-body-center>
  <app-header></app-header>
  <app-title title="Iniciar Sesión"></app-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-body-space>
      <app-input
        [control]="getFormControl('email')"
        textLabel="Correo Electrónico: "
        placeHolder="juan@example.com"
        type="email"
        id="femail"
      ></app-input>
      <app-input
        [control]="getFormControl('password')"
        textLabel="Contraseña: "
        placeHolder="********"
        type="password"
        id="fpassword"
      ></app-input>
      <app-submit-button
        type="submit"
        link="/login"
        textContent="Iniciar Sesión"
      ></app-submit-button>
      <app-submit-button
        type="button"
        link="/register"
        textContent="Registrarse"
        secondContent="¿Todavía no tienes cuenta?"
        [transparent]="true"
      ></app-submit-button>
    </app-body-space>
  </form>
</app-body-center>
