<div class="login-page">
    <header class="header">
        <app-logotype class="logotype"></app-logotype>
        <div class="header__info">
            <div class="img-mask">
                <img class="img-mask__img" src="" alt="">
            </div>
            <h1 class="login-page__slogan">{{slogan}}</h1>
        </div>
    </header>
    <section class="buttons">
        <app-button [path]="paths.signInPage">Iniciar Sesión</app-button>
        <app-button [path]="paths.register1" [transparent]="true">Registrarse</app-button>
    </section>
</div>
