/* You can add global styles to this file, and also import other style files */
*:root{
    --main-color: #FFBE2E;
    --second-color: #17110D;
    --third-color: white;
    --fourth-color: rgba(23, 17, 13, 0.16);
    --logo-font: 'Jomhuria', cursive;
    --text-font: 'Josefin Slab', serif;
    --text-button-font: 'Josefin Sans', sans-serif;
}
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    margin: 0;
}
