<ng-container *ngIf="type == 'submit'">
  <input
    class="button button--submit"
    [ngClass]="{ 'button--submit-transparent': transparent }"
    type="submit"
    [value]="textContent"
    [disabled]="isDisabled"
  />
</ng-container>
<ng-container *ngIf="type == 'button'">
  <a
    class="button"
    [ngClass]="{ 'button--transparent': transparent }"
    [routerLink]="link"
  >
    <div
      class="button__description"
      [ngClass]="{ 'button__description--color': transparent }"
    >
      <span class="button__sub-text">{{ secondContent }}</span>
      <span class="button__main-text">{{ textContent }}</span>
    </div>
  </a>
</ng-container>
