<div id="routesGrids">
    <div id="routesSearchMessages">
        <p id="welcomeMessage">Ingrese su destino</p>
        <p>Ustes ha buscado</p>
    </div>
    <div id="routeSearch">
        <div class="dropDownRouteSelector">
            <select>
                <option value="None" selected disabled>Seleccione un Destino</option>
                <option value="opcion1">Opción 1</option>
                <option value="opcion2">Opción 2</option>
                <option value="opcion3">Opción 3</option>
            </select>
        </div>
    </div>
    <div id="routeDisplay">

    </div>
</div>

