<div id="routesGrids">
    <div id="routesSearchMessages">
        <p id="welcomeMessage">Ingrese su destino</p>
        <p>Ustes ha buscado</p>
    </div>
    <div id="routeSearch">
        <div id="dropDownRouteSelector">
            <select >
                <option value="None" selected disabled>Seleccione un Destino</option>
                <option *ngFor="let item of destinosTest" value={{item}}>{{item}}</option>
            </select>
        </div>
    </div>
    <div id="routeDisplay">
        <div id="headerResults">
            <div *ngFor="let headerName of headers" class="headerRoutes">
                <p>{{headerName}}</p>
            </div>
            <ng-container *ngFor="let list of resultsTest" >
                <div *ngFor="let item of list" class="contentRoutes">
                    <p>{{item}}</p>
                </div>
            </ng-container>

        </div>
    </div>
</div>

